<% content_for :head do %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>学生在线答题</title>
<% end %>

<!-- Left column -->
<div class="templatemo-flex-row">
  <div class="templatemo-sidebar">
    <header class="templatemo-site-header">
      <div class="square"></div>
      <h1>Trustie</h1>
    </header>

    <!-- Search box -->

    <div class="mobile-menu-icon">
      <i class="fa fa-bars"></i>
    </div>
    <nav class="templatemo-left-nav">
      <ul>
        <li><a href="<%= index_url %>" class="active"><i class="fa fa-home fa-fw"></i>课程</a></li>
        <li><a href="<%= students_homeworks_path %>"><i class="fa fa-bar-chart fa-fw"></i>作业</a></li>
        <li><a href="<%= index_logout_path %>"><i class="fa fa-eject fa-fw"></i>退出</a></li>
      </ul>
    </nav>
  </div>
  <!-- Main content -->
  <div class="templatemo-content col-1 light-gray-bg">
    <div class="templatemo-top-nav-container">
      <div class="row">
        <nav class="templatemo-top-nav col-lg-12 col-md-12">
          <ul class="text-uppercase">
            <li><%= @quiz.lesson.name %></li>
            <li><%= @quiz.title %></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="templatemo-content-container">
      <div class="templatemo-content-widget white-bg">
        <h2 class="margin-bottom-10">在线答题</h2>
        <ul class="text-uppercase">
          <li><%= @quiz.lesson.name %></li>
          <li><%= @quiz.title %></li>
        </ul>

        <div class="templatemo-content-widget white-bg col-1" id="fixedMenu_keleyi_com">
          <h3 class="text-uppercase">时间进度</h3>
          <hr>
          <div class="progress">
            <div class="progress-bar progress-bar-warning" id="progressbar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
          </div>
        </div>

        <form action="<%= students_updateQuestions_path %>" class="templatemo-login-form" method="post" enctype="multipart/form-data">
          <input type="hidden" name="id" value="<%= @homeWork.id %>">
          <% count=0 %>
          <% if @questionList %>
              <% for question in @questionList %>
                  <% count+=1 %>
                  <!--多选-->
                  <% if question.questionType==Question::QuestionType[:selection] %>
                      <div class="row form-group">
                        <div class="col-lg-12 has-success form-group">
                          <label class="control-label" for="inputWithSuccess"><%= count %>.<%= question.description %></label>
                        </div>
                        <div class="col-lg-12 form-group">
                          <div class="margin-right-15 templatemo-inline-block">
                            <input type="checkbox" name="single[<%= count %>]" id="c1[<%= count %>]" value="0">
                            <label for="c1[<%= count %>]" class="font-weight-400"><span></span><%= question.options[0] %></label>
                          </div>
                          <div class="margin-right-15 templatemo-inline-block">
                            <input type="checkbox" name="single[<%= count %>]" id="c2[<%= count %>]" value="1">
                            <label for="c2[<%= count %>]" class="font-weight-400"><span></span><%= question.options[1] %></label>
                          </div>
                          <div class="margin-right-15 templatemo-inline-block">
                            <input type="checkbox" name="single[<%= count %>]" id="c3[<%= count %>]" value="2">
                            <label for="c3[<%= count %>]" class="font-weight-400"><span></span><%= question.options[2] %></label>
                          </div>
                          <div class="margin-right-15 templatemo-inline-block">
                            <input type="checkbox" name="single[<%= count %>]" id="c4[<%= count %>]" value="3">
                            <label for="c4[<%= count %>]" class="font-weight-400"><span></span><%= question.options[3] %></label>
                          </div>
                        </div>
                      </div>
                  <% elsif question.questionType==Question::QuestionType[:single] %>
                      <!--单选-->
                      <div class="row form-group">
                        <div class="col-lg-12 has-success form-group">
                          <label class="control-label" for="inputWithSuccess"><%= count %>.<%= question.description %></label>
                        </div>
                        <div class="col-lg-6 col-md-6 form-group">
                          <div>
                            <div class="templatemo-block margin-bottom-5">
                              <input type="radio" name="single[<%= count %>]" id="r1[<%= count %>]">
                              <label for="r1[<%= count %>]" class="font-weight-400"><span></span><%= question.options[0] %></label>
                            </div>
                            <div class="templatemo-block margin-bottom-5">
                              <input type="radio" name="single[<%= count %>]" id="r2[<%= count %>]">
                              <label for="r2[<%= count %>]" class="font-weight-400"><span></span><%= question.options[1] %></label>
                            </div>
                            <div class="templatemo-block margin-bottom-5">
                              <input type="radio" name="single[<%= count %>]" id="r3[<%= count %>]">
                              <label for="r3[<%= count %>]" class="font-weight-400"><span></span><%= question.options[2] %></label>
                            </div>
                            <div class="templatemo-block margin-bottom-5">
                              <input type="radio" name="single[<%= count %>]" id="r4[<%= count %>]">
                              <label for="r4[<%= count %>]" class="font-weight-400"><span></span><%= question.options[3] %></label>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!--判断-->
                  <% elsif question.questionType==Question::QuestionType[:judge] %>
                      <div class="row form-group">
                        <div class="col-lg-12 has-success form-group">
                          <label class="control-label" for="inputWithSuccess"><%= count %>.<%= question.description %></label>
                        </div>
                        <div class="col-lg-12 form-group">
                          <div class="margin-right-15 templatemo-inline-block">
                            <input type="radio" name="single[<%= count %>]" id="r5<%= count %>" value="">
                            <label for="r5<%= count %>" class="font-weight-400"><span></span>True</label>
                          </div>
                          <div class="margin-right-15 templatemo-inline-block">
                            <input type="radio" name="single[<%= count %>]" id="r6<%= count %>" value="">
                            <label for="r6<%= count %>" class="font-weight-400"><span></span>False</label>
                          </div>
                        </div>
                      </div>
                  <% else %>
                  <% end %>
              <% end %>
          <% end %>

          <div class="form-group text-right">
            <button type="submit" class="templatemo-blue-button">提交</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
    var totalTime = parseInt(<%= @quiz.limitTime %>);
    var beginTime = <%= @homeWork.start %>
</script>

