<% content_for :head do %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>题目管理</title>
<% end %>

<body>
<!-- Left column -->
<div class="templatemo-flex-row">
  <div class="templatemo-sidebar">
    <header class="templatemo-site-header">
      <h1><%= @teacher.user.name %>&nbsp;老师好！</h1>
    </header>
    <div class="mobile-menu-icon">
      <i class="fa fa-bars"></i>
    </div>
    <nav class="templatemo-left-nav">
      <ul>
        <li><a href="<%= index_path %>" class="active"><i class="fa fa-home fa-fw"></i>课程管理</a></li>
        <li><a href="<%= teachers_exercise_path %>"><i class="fa fa-sliders fa-fw"></i>题目管理</a></li>
        <li><a href="<%= index_logout_path %>"><i class="fa fa-eject fa-fw"></i>退出</a></li>
      </ul>
    </nav>
  </div>
  <!-- Main content -->
  <div class="templatemo-content col-1 light-gray-bg">
    <div class="templatemo-top-nav-container">
      <div class="row">
        <nav class="templatemo-top-nav col-lg-12 col-md-12">
          <ul class="text-uppercase">
            <li>《<%= @lesson.name %>》</li>
            <li><%= @quiz.title %></li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="templatemo-content-container">
      <div class="templatemo-content-widget white-bg">
        <div class="row form-group">
          <h2 class="col-lg-12 margin-bottom-10">练习时长：<%= @quiz.limitTime %>分钟</h2>
          <p class="col-lg-12"> 练习描述：<%= @quiz.demand %></p>
        </div>


        <div class="form-group text-left">
          <% if @quiz.status==Quiz::STATUS[:unassigned]  %>
          <button class="templatemo-blue-button"  data-toggle="modal" data-target="#radio" onclick="$('#r4').attr('checked','checked')">添加单选</button>
          <button class="templatemo-blue-button"  data-toggle="modal" data-target="#checkbox">添加多选</button>
          <button class="templatemo-blue-button"  data-toggle="modal" data-target="#judge" onclick="$('#r1').attr('checked','checked')">添加判断题</button>
          <button class="templatemo-blue-button" style="background-color: #7171C6;" onclick="window.location.href='<%= teachers_publish_path %>?id=<%= @quiz.id %>'">发布</button>
          <% else %>
              <button class="templatemo-blue-button" style="background-color: #7171C6;">已发布</button>
        <% end %>
              <!-- 模态框（Modal） -->
          <div class="modal fade" id="radio" tabindex="-1" role="dialog"
               aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close"
                          data-dismiss="modal" aria-hidden="true">
                    &times;
                  </button>
                  <h4 class="modal-title" id="myModalLabel">
                    添加单选
                  </h4>
                </div>
                <form action="<%= teachers_createQuestion_path %>" class="templatemo-login-form" method="post" enctype="multipart/form-data">
                <div class="col-lg-12 has-success form-group">
                  <label class="control-label" >题目</label>
                  <input type="text" name="description" class="form-control" id="class_id">
                </div>
                <div class="col-lg-12 has-success form-group">
                  <label class="control-label" >A.</label>
                  <input type="text" name="options[0]" class="form-control" id="A">
                </div>
                <div class="col-lg-12 has-success form-group">
                  <label class="control-label" >B.</label>
                  <input type="text" name="options[1]" class="form-control" id="B">
                </div>
                <div class="col-lg-12 has-success form-group">
                  <label class="control-label" >C.</label>
                  <input type="text" name="options[2]" class="form-control" id="C">
                </div>
                <div class="col-lg-12 has-success form-group">
                  <label class="control-label" >D.</label>
                  <input type="text" name="options[3]" class="form-control" id="D">
                </div>
                <div class="col-lg-12 form-group">
                  <div class="margin-right-15 templatemo-inline-block">
                    <input type="radio" name="reference" id="r4" value="0" checked>
                    <label for="r4" class="font-weight-400"><span></span>A</label>
                  </div>
                  <div class="margin-right-15 templatemo-inline-block">
                    <input type="radio" name="reference" id="r5" value="1" >
                    <label for="r5" class="font-weight-400"><span></span>B</label>
                  </div>
                  <div class="margin-right-15 templatemo-inline-block">
                    <input type="radio" name="reference" id="r6" value="2">
                    <label for="r6" class="font-weight-400"><span></span>C</label>
                  </div>
                  <div class="margin-right-15 templatemo-inline-block">
                    <input type="radio" name="reference" id="r7" value="3">
                    <label for="r7" class="font-weight-400"><span></span>D</label>
                  </div>
                </div>
                  <input type="hidden" name="questionType" value="0">
                  <input type="hidden" name="quizId" value="<%= @quiz.id %>">
                <div class="modal-footer">
                  <button type="button" class="btn btn-default"
                          data-dismiss="modal">关闭
                  </button>
                  <button type="submit" class="btn btn-primary">
                    提交
                  </button>
                </div>
                  </form>
              </div><!-- /.modal-content -->
            </div><!-- /.modal -->
          </div>
          <!-- 模态框（Modal） -->
          <div class="modal fade" id="checkbox" tabindex="-1" role="dialog"
               aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close"
                          data-dismiss="modal" aria-hidden="true">
                    &times;
                  </button>
                  <h4 class="modal-title" id="myModalLabel">
                    添加多选
                  </h4>
                </div>
                <form action="<%= teachers_createQuestion_path %>" class="templatemo-login-form" method="post" enctype="multipart/form-data">
                <div class="col-lg-12 has-success form-group">
                  <label class="control-label" >题目</label>
                  <input type="text" name="description" class="form-control" id="class_id">
                </div>
                <div class="col-lg-12 has-success form-group">
                  <label class="control-label" >A.</label>
                  <input type="text" name="options[0]" class="form-control" id="A">
                </div>
                <div class="col-lg-12 has-success form-group">
                  <label class="control-label" >B.</label>
                  <input type="text" name="options[1]" class="form-control" id="B">
                </div>
                <div class="col-lg-12 has-success form-group">
                  <label class="control-label" >C.</label>
                  <input type="text" name="options[2]" class="form-control" id="C">
                </div>
                <div class="col-lg-12 has-success form-group">
                  <label class="control-label" >D.</label>
                  <input type="text" name="options[3]" class="form-control" id="D">
                </div>
                <div class="col-lg-12 form-group">
                  <div class="margin-right-15 templatemo-inline-block">
                    <input type="checkbox" name="reference[0]" id="c3" value="0" checked="">
                    <label for="c3" class="font-weight-400"><span></span>A</label>
                  </div>
                  <div class="margin-right-15 templatemo-inline-block">
                    <input type="checkbox" name="reference[1]" id="c4" value="1">
                    <label for="c4" class="font-weight-400"><span></span>B</label>
                  </div>
                  <div class="margin-right-15 templatemo-inline-block">
                    <input type="checkbox" name="reference[2]" id="c5" value="2">
                    <label for="c5" class="font-weight-400"><span></span>C</label>
                  </div>
                  <div class="margin-right-15 templatemo-inline-block">
                    <input type="checkbox" name="reference[3]" id="c6" value="3">
                    <label for="c6" class="font-weight-400"><span></span>D</label>
                  </div>
                </div>
                <input type="hidden" name="questionType" value="1">
                <input type="hidden" name="quizId" value="<%= @quiz.id %>">
                <div class="modal-footer">
                  <button type="button" class="btn btn-default"
                          data-dismiss="modal">关闭
                  </button>
                  <button type="submit" class="btn btn-primary">
                    提交
                  </button>
                </div>
                  </form>
              </div><!-- /.modal-content -->
            </div><!-- /.modal -->
          </div>
          <!-- 模态框（Modal） -->
          <div class="modal fade" id="judge" tabindex="-1" role="dialog"
               aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close"
                          data-dismiss="modal" aria-hidden="true">
                    &times;
                  </button>
                  <h4 class="modal-title" id="myModalLabel">
                    添加判断
                  </h4>
                </div>
                <form action="<%= teachers_createQuestion_path %>" class="templatemo-login-form" method="post" enctype="multipart/form-data">
                  <div class="col-lg-12 has-success form-group">
                  <label class="control-label" >题目</label>
                  <input type="text" name="description" class="form-control" id="class_id">
                </div>

                <div class="col-lg-12 form-group">
                  <div class="margin-right-15 templatemo-inline-block">
                    <input type="radio" name="reference" id="r1" value="1">
                    <label for="r1" class="font-weight-400"><span></span>正确</label>
                  </div>
                  <div class="margin-right-15 templatemo-inline-block">
                    <input type="radio" name="reference" id="r2" value="0" >
                    <label for="r2" class="font-weight-400"><span></span>错误</label>
                  </div>
                </div>
                <input type="hidden" name="questionType" value="2">
                <input type="hidden" name="quizId" value="<%= @quiz.id %>">
                <div class="modal-footer">
                  <button type="button" class="btn btn-default"
                          data-dismiss="modal">关闭
                  </button>
                  <button type="submit" class="btn btn-primary">
                    提交
                  </button>
                </div>
                  </form>
              </div><!-- /.modal-content -->
            </div><!-- /.modal -->
          </div>
        </div>
        <br>
        <% count=0 %>
        <% if @questionList %>
        <% for question in @questionList %>
            <% count+=1 %>
            <!--多选-->
            <% if question.questionType==Question::QuestionType[:selection] %>
          <div class="row form-group">
            <div class="col-lg-12 has-success form-group">
              <label class="control-label" for="inputWithSuccess"><%= count %>.<%= question.description %></label>
            </div>
            <div class="col-lg-12 form-group">
              <div class="margin-right-15 templatemo-inline-block">
                <input type="checkbox" name="single[<%= count %>]" id="c1[<%= count %>]" value="0" <%= 'checked' if question.reference.index '0' %>>
                <label for="c1[<%= count %>]" class="font-weight-400"><span></span><%= question.options[0] %></label>
              </div>
              <div class="margin-right-15 templatemo-inline-block">
                <input type="checkbox" name="single[<%= count %>]" id="c2[<%= count %>]" value="1" <%= 'checked' if question.reference.index '1' %>>
                <label for="c2[<%= count %>]" class="font-weight-400"><span></span><%= question.options[1] %></label>
              </div>
              <div class="margin-right-15 templatemo-inline-block">
                <input type="checkbox" name="single[<%= count %>]" id="c3[<%= count %>]" value="2" <%= 'checked' if question.reference.index '2' %>>
                <label for="c3[<%= count %>]" class="font-weight-400"><span></span><%= question.options[2] %></label>
              </div>
              <div class="margin-right-15 templatemo-inline-block">
                <input type="checkbox" name="single[<%= count %>]" id="c4[<%= count %>]" value="3" <%= 'checked' if question.reference.index '3' %>>
                <label for="c4[<%= count %>]" class="font-weight-400"><span></span><%= question.options[3] %></label>
              </div>
            </div>
          </div>
                <% elsif question.questionType==Question::QuestionType[:single] %>
                <!--单选-->
          <div class="row form-group">
            <div class="col-lg-12 has-success form-group">
              <label class="control-label" for="inputWithSuccess"><%= count %>.<%= question.description %></label>
            </div>
            <div class="col-lg-6 col-md-6 form-group">
              <div>
                <div class="templatemo-block margin-bottom-5">
                  <input type="radio" name="single[<%= count %>]" id="r1[<%= count %>]" <%= 'checked' if question.reference=='0' %>>
                  <label for="r1[<%= count %>]" class="font-weight-400"><span></span><%= question.options[0] %></label>
                </div>
                <div class="templatemo-block margin-bottom-5">
                  <input type="radio" name="single[<%= count %>]" id="r2[<%= count %>]" <%= 'checked' if question.reference=='1' %>>
                  <label for="r2[<%= count %>]" class="font-weight-400"><span></span><%= question.options[1] %></label>
                </div>
                <div class="templatemo-block margin-bottom-5">
                  <input type="radio" name="single[<%= count %>]" id="r3[<%= count %>]" <%= 'checked' if question.reference=='2' %>>
                  <label for="r3[<%= count %>]" class="font-weight-400"><span></span><%= question.options[2] %></label>
                </div>
                <div class="templatemo-block margin-bottom-5">
                  <input type="radio" name="single[<%= count %>]" id="r4[<%= count %>]" <%= 'checked' if question.reference=='3' %>>
                  <label for="r4[<%= count %>]" class="font-weight-400"><span></span><%= question.options[3] %></label>
                </div>
              </div>
            </div>
          </div>

                <!--判断-->
            <% elsif question.questionType==Question::QuestionType[:judge] %>
          <div class="row form-group">
            <div class="col-lg-12 has-success form-group">
              <label class="control-label" for="inputWithSuccess"><%= count %>.<%= question.description %></label>
            </div>
            <div class="col-lg-12 form-group">
              <div class="margin-right-15 templatemo-inline-block">
                <input type="radio" name="single[<%= count %>]" id="r5<%= count %>" value="" <%= 'checked' if question.reference=='1' %>>
                <label for="r5<%= count %>" class="font-weight-400"><span></span>True</label>
              </div>
              <div class="margin-right-15 templatemo-inline-block">
                <input type="radio" name="single[<%= count %>]" id="r6<%= count %>" value="" <%= 'checked' if question.reference=='0' %>>
                <label for="r6<%= count %>" class="font-weight-400"><span></span>False</label>
              </div>
            </div>
          </div>
            <% else %>
            <% end %>
        <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>