<h1>作业<%= @quizId %>情况统计</h1>
<table border="1">
<tr>
<td>提交作业人数：</td><td><%= @hw_num %></td>
</tr><tr>
<td>最高分：</td><td><%= @hw_high %></td>
</tr><tr>
<td>最低分：</td><td><%= @hw_low %></td>
</tr><tr>
<td>平均分：</td><td><%= @hw_ave %></td>
</tr>
</table>
